<% layout("/layouts/boillerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="text-decoration-underline">Privacy Policies--</h3>
        </div>
        <div class="col-8 offset-2 privacy-div">
            
<p>At [Wanderlust], your privacy is important to us. This Privacy Policy outlines how we collect, use, and protect your personal information.</p>
<ol>
    <li>
        Information We Collect:
        <ol>
            <li>Personal Information: Name, email address, phone number, and
            payment information provided during account creation or
            booking.</li>
            <li>
                Usage Data: Information about your activity on the platform, including searches, bookings, and preferences.

            </li>
            <li>
                Location Data: GPS data collected when enabling location-based services.
            </li>
        </ol>
    </li>
    <li>
        How We Use Your Information:
        <ol>
            <li> To process bookings and payments.</li>
            <li>To personalize your experience by recommending properties and locations.</li>
            <li>To communicate updates, promotional offers, and service-related messages.</li>
        </ol>
       
    </li>
    <li>
        Sharing Your Information:
        <ol>
            <li>We do not sell your personal information.</li>
            <li>We may share your information with:</li>
            <li>Hosts and service providers necessary for your booking.</li>
            <li>Third-party services for payment processing, analytics, and marketing.
            </li>
        </ol>
    </li>
    <li>
        Your Rights:
        <ol>
            <li>You can request access, correction, or deletion of your personal information by contacting [Insert Contact Information].</li>
        </ol>
    </li>
    <li>
        Data Security:
        <ol>
            <li>We implement industry-standard security measures to protect your
            information. However, no online system is entirely secure, and you
            provide your information at your own risk.</li>
        </ol>
    </li>
</ol>


        </div>

    </div>
</body>