<% layout ("/layouts/boillerplate") %>
<body>
<div class="row">
  <div class="col-6 offset-3">
    <h3 class="col-8 offset-3 text-decoration-underline">signup for wanderlust</h3>
    <form action="/signUp" method="post" novalidate class="needs-validation">  <!--validation for all reqiured feilds from bootstrap-->
        <br>
        <div class="mb-3">
            <label for="username" class="form-label fw-semibold text-decoration-underline">username</label>
            <input type="text" name="username" placeholder="enter username" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div
        </div>
        <div class="mb-3">
            <label for="email" class="form-label fw-semibold text-decoration-underline">email</label>
            <input type="email" name="email" placeholder="enter email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label fw-semibold text-decoration-underline">password</label>
            <input type="password" name="password" placeholder="enter password" class="form-control" required>
            <div class="valid-feedback">
                Looks good!
              </div
        </div>
        <br>
        <button class="btn btn-success">signUp</button>
        <br>
    </form>
  </div>
</div>
</body>