<% layout("/layouts/boillerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3 class="text-decoration-underline">Terms and Condtions--</h3>
        </div>
        <div class="col-8 offset-2 privacy-div">
            <p>Welcome to [WanderLust]! By using our platform, you agree to the following terms and conditions.</p>
          <ol>
            <li>Scope:
            <ol>
                <li> [WanderLust] provides a platform for users to browse, book, and host rental properties. All bookings are subject to host approval and platform policies.
                </li>
            </ol>
            </li>
            <li>
                . User Obligations:
                <ol>
                    <li> You must be at least 18 years old to use the platform.</li>
                    <li>All information provided during account creation and booking must be accurate and up to date.</li>
                    <li>Users must comply with host-specific rules and policies.</li>
                </ol>
            </li>
            <li>
                Booking and Payment:
                <ol>
                    <li> Payments must be made via the platform’s secure payment system.</li>
                    <li> Cancellation policies vary by property and are outlined during the booking process.</li>
                   
                </ol>
            </li>
            <li>
                Liability:
                <ol>
                    <li>   [WanderLust] is not liable for damages, injuries, or disputes arising from rental agreements or property conditions. Hosts are solely responsible for maintaining their property.
                    </li>
                </ol>
            </li>
            <li>
                Prohibited Activities:
                <ol>
                    <li> Unauthorized use or reproduction of platform content.</li>
                    <li>  Fraudulent bookings or misrepresentation of property details.</li>
                </ol>
            </li>
            <li>
                Modifications:
                <ol>
                    <li> [WanderLust] reserves the right to update these Terms & Conditions at any time. Continued use of the platform constitutes agreement to the revised terms.
                    </li>
                </ol>
            </li>
            <li>
                Contact:
                <ol>
                    <li>  For any questions or concerns, please contact us at [Phone-XXXXXXXXX].</li>
                </ol>
            </li>
        </ol>
        </div>
    </div>
</body>